@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap');


.hidden {
    display: none;
}

@media (min-width: 480px) {
    #forecast-results {
        display: inline-block;
    }

}

 #forecast-results {
    vertical-align: middle;
    border: 3px solid black;
    padding: 10px;
    background-color: white;
  }

  #current-results {
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    padding: 10px;
    background-color: white;
  }

#welcome {
    text-align: center;
}

body {
    background-image: url(images/clouds.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(20, 20, 116);

}

h1, h2, h3 {
    color: white;
    font-family: "Alegreya";
}

.black {
    color: black;
}

@media (max-width: 480px) {
    body {
        background-image: none;
        background-color: rgb(16, 57, 102)
    }
}